<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Romans Website</title>
</head>
<body>
<h1>Hello World Roman is going to take ur money</h1>



<table style="width:100%">
        <tr><td>company_name</td><td>address</td><td>state</td><td>city</td><td>average_wait</td><td>average_load</td></tr>

{% for company in company_infos %}
        <tr><td>{{ company.company_name }}</td><td>{{ company.address }}</td><td>{{ company.state }}</td><td>{{ company.city }}</td><td>{{ company.average_wait }}</td><td>{{ company.average_load }}</td></tr>
{% endfor %}

</table>
</body>
</html>
